<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Vehículos')}"></head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/nav :: nav}"></div>

<main class="page-container">
    <section class="page-header">
        <h1 class="page-title">Vehículos</h1>
    </section>

    <section class="toolbar">
        <a th:href="@{/admin/vehiculos/nuevo}" class="btn btn--primary">Nuevo vehículo</a>

        <!-- PARA IMPLEMENTAR MÁS ADELANTE
        <div class="toolbar__search">
            <input type="text" placeholder="Buscar por marca, modelo o matricula">
        </div>

        <div class="toolbar__filter">
            <select>
                <option>Todos</option>
            </select>
        </div>
        -->
    </section>

    <section class="card">
        <div class="card__body card__body--no-padding">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Matrícula</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Tipo</th>
                    <th>Precio/día</th>
                    <th>Estado</th>
                    <th>Fecha alta</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vehiculo : ${vehiculos}">
                    <td th:text="${vehiculo.idVehiculo}"></td>
                    <td th:text="${vehiculo.matricula}"></td>
                    <td th:text="${vehiculo.marca}"></td>
                    <td th:text="${vehiculo.modelo}"></td>
                    <td th:text="${vehiculo.tipo}"></td>
                    <td th:text="${vehiculo.precioDia}"></td>
                    <td th:text="${vehiculo.estado}"></td>
                    <td th:text="${#temporals.format(vehiculo.createdAt, 'yyyy-MM-dd')}"></td>
                    <td>
                        <div class="table-actions">
                            <!-- Para añadir vista detalles
                            <a href="#" class="icon-action">Ver</a>
                            -->
                            <a th:href="@{/admin/vehiculos/editar/{id}(id=${vehiculo.idVehiculo})}" class="icon-action">Editar</a>
                            <form th:action="@{/admin/vehiculos/eliminar/{id}(id=${vehiculo.idVehiculo})}" method="post" class="inline-form">
                                <button type="submit" class="icon-action icon-action--danger">Eliminar</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>